{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<tr>
    <td>{{auto.id}}</td>
    <td>{{auto.marque}}</td>
    <td>{{auto.modele}}</td>
    <td>{{auto.puissance}} CH</td>
    <td>{{auto.prix}} €</td>
    <td><img style="width: 5em;" src="{{ asset('' ~ auto.image)}}" alt=""></td>
    <td>
        <a href="{{asset('/auto/' ~ auto.id)}}" class="btn btn-info"><i class="fas fa-pen"></i>Détail</a>
    </td>
</tr>
{% endblock %}